:root {
    --back: #283055;
    --menus: #3f6391;
    --text-one: #d3a593;
    --text-two: rgb(160, 160, 160);

    --br: 0.3vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

body {
    color: var(--text-first);
    background: var(--back);
    color: var(--text-two);
}

.container {
    position: absolute;

    left: 50%;
    transform: translate(-50%);

    width: 60%;
}

header {
    margin-top: 2vh;

    width: 100%;
    height: 4vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: var(--menus);
    

    border-radius: var(--br);
}

header a {
    color: var(--text-two);
    text-decoration: none;

    text-transform: uppercase;

    cursor: pointer;
}

header a:hover {
    color: var(--text-one);

    text-shadow: 0.2vh 0.2vh 1vh var(--text-one);

    transition: 0.3s;
}

.nav_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    margin-top: 3vh;

    border-radius: var(--br);

    background: var(--menus);

    width: 100%;
    min-height: 100%;



    padding: 1.5vh;
    text-align: justify;

    user-select: none;
}
